doctype 5
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/libs/angular.min.js')
    script(src='/javascripts/libs/angular-resource.min.js')
    script(src='/javascripts/main.js')
    script(type='text/javascript', src='http://www.iamahuman.org/js/embed.js')
    #iamahuman-div-5ea967300e9feb453988c3f2ee79e706
        script(type='text/javascript')
          iamahuman.init("5ea967300e9feb453988c3f2ee79e706");